@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html{
    scroll-behavior: smooth;
  }
  
  body{
    background: #000000;
    font-family: 'Roboto', sans-serif;
  }
  
  h1{
    color: #b39646;
    text-align: center;
    font-size: 70px;
    margin-bottom: 4px;
  }
  
  h2{
      margin-bottom: 60px;
      margin-top: 5px;
      color: #b39646;
      text-align: left;
      margin-left: 20px;
  }
  
  p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 130%;
    margin-top: -40px;
  }

  .contenedor{
    background: #272738;
    width: 70%;
    height: inherit;
    margin: auto ;
    text-align: center;
    border-radius: 5px;
  }

  .intro{
    font-size: 20px;
    color: rgb(155, 152, 141);
  }

  .imagen2{
    width: 400px;
    margin-bottom: 40px;
  }

  li{
    text-align: left;
    font-size: 130%;
  }

 .imagen3{
  width: 600px;
  margin-bottom: 40px;
 }

 li{
  color: #b39646;
  list-style: none;
  margin-left: 20px;
 }